@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mulish:wght@300&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    background:#eee;
}

a{
    text-decoration: none;
}


/* START NAVBAR */






/*Start left Sidebar */
.sidebars{
    height: 100vh;

    background-image:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8)),url('../assets/img/etc/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 5px 0 25px #999;
}

.borderbottoms{
    border-bottom: 1px groove #eee;
}

.currents{
    background: tomato;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
}

.currents:hover{
    background:#ed5645;
    box-shadow: 2px 5px 20px #111;
    transform:translateY(-1px);
    transition: all 0.3s;
}


.sidebarlinks{
    transition: all 0.4s;
}

.sidebarlinks:hover{
    background: #444;
    border-radius: 7px;
}
/*End left Sidebar */


/* 1NOV */








/* END NAVBAR */

