@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mulish:wght@300&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    background:#eee;
}

a{
    text-decoration: none;
}


/* START NAVBAR */






/*Start left Sidebar */
.sidebars{
    height: 100vh;

    background-image:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8)),url('../assets/img/etc/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-shadow: 5px 0 25px #999;
}

.borderbottoms{
    border-bottom: 1px groove #eee;
}

.currents{
    background: tomato;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
}

.currents:hover{
    background:#ed5645;
    box-shadow: 2px 5px 20px #111;
    transform:translateY(-1px);
    transition: all 0.3s;
}


.sidebarlinks{
    transition: all 0.4s;
}

.sidebarlinks:hover{
    background: #444;
    border-radius: 7px;
}
/*End left Sidebar */



/* Start Top SideBar  */
.breadcrumb a{
    color: #f4f4f4;
}


@media(max-width:760px){
    .sidebars{
        height: auto;
        position: static;
    }

    .topnavbars{
        position: static;
    }
}


.searchinputs{
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
}


.searchinputs:focus{
    background: transparent;
    color: #fff;
    border-bottom: 2px solid tomato;
    box-shadow: none;
}


.searchbtn{
    border-radius: 50%;
    transition: all 0.4s;

}
.searchbtn:hover{
    transform: translateY(-1px);
}

.iconparents{
    position: relative;
}

.iconbullets::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: tomato;

    position: absolute;
    top: 5px;
    left: 25px;
}
/* End Top SideBar */

/* END NAVBAR */





/* Start Card Section */
.cardcommonms{
    box-shadow:1px 2px 5px #999 ;
    border-top: 1px groove darkorange;
    border-left: 1px groove darkorange;

    transition: all 0.4s;
}

.cardcommonms:hover{
    box-shadow: 1px 3px 15px #999;
    transform: translateY(-1px);

    border: none;
    border-bottom: 1px groove darkorange;
    border-right: 1px groove darkorange;
    
}
/* End Card Section */




/* Start Progress and Task Section  */
.taskborders{
    border-left:3px solid tomato ;
}
/*End Progress and Task Section  */


























